:root {
  --bg-primary: #1d1d1d;
  --bg-darker: #151515;
  --bg-secondary: #2d2d2d;

  --text-main: #eeeeee;
  --text-secondary: #999999;

  --accent-ui: #ffd700;

  --font-main: "Inter", sans-serif;

  /*Metro colors*/
  --l1: #df2937;
  --l2: #9a398d;
  --l3: #37aa3c;
  --l4: #fcbf00;
  --l5: #0078bd;
  --l6: #7487bd;
  --l7: #b26612;
  --l8: #e679ae;
  --l9: #f88d00;
  --l10: #07a0e5;
  --l11: #b5cc57;
  --l12: #bcb4d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body layout*/
body {
  background: linear-gradient(
    145deg,
    var(--bg-primary) 0%,
    var(--bg-darker) 100%
  );
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-main);
  color: var(--text-main);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

/*Header and Footer layout*/
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
  animation: fadeInDown 0.6s ease-in-out;
  gap: 10px;
}

header {
  height: 15vh;
}

footer {
  height: 10vh;
}

header h2 {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

footer a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
  transition: all 0.3s ease;
}

footer a:hover {
  transform: scale(1.05);
  filter: brightness(1.5);
}

/*Main container*/
main {
  min-height: 75vh;
  width: 75%;
  background-color: var(--bg-secondary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 0.5px 0.5px 10px var(--text-secondary);
}

section {
  width: 100%;
}

/*Input Styles*/
main section select {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-family: var(--font-main);
  padding: 10px;
  border: solid 4px transparent;
  transition: all 0.3s ease;
  background-color: var(--bg-darker);
  color: var(--text-main);
}


main section select:hover {
  border: solid 4px var(--accent-ui);
  transform: scale(1.02);
}

main section select:focus {
  outline: none;
  border: solid 4px var(--accent-ui);
  transform: scale(1.02);
}

/*UL - LI Metro stops*/
main section ul li {
  font-weight: bold;
  list-style-type: disc;
  font-size: 1.2rem;

}
.stopsSection {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

@media (max-width: 450px) {
  main section input {
    width: 150px;
  }
  header {
    font-size: 1rem;
  }
  header h2 {
    font-size: 0.9rem;
  }
  main {
    width: 90%;
  }
}
