:root {
  --bg-primary: #1d1d1d;
  --bg-darker: #151515;
  --bg-secondary: #2d2d2d;

  --text-main: #eeeeee;
  --text-secondary: #999999;

  --accent-ui: #ffd700;

  --font-main: "Inter", sans-serif;

  /*Metro colors*/
  --L1: #df2937;
  --L2: #9a398d;
  --L3: #37aa3c;
  --L4: #fcbf00;
  --L5: #0078bd;
  --L6: #7487bd;
  --L7: #b26612;
  --L8: #e679ae;
  --L9S: #f88d00;
  --L10N: #07a0e5;
  --L9N: #f88d00;
  --L10S: #07a0e5;
  --L11: #b5cc57;
  --L12: #bcb4d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body layout*/
body {
  background: linear-gradient(
    145deg,
    var(--bg-primary) 0%,
    var(--bg-darker) 100%
  );
  opacity: 1;
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-main);
  color: var(--text-main);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background: url(../assets/bg2.webp) no-repeat center;
  background-size: cover;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .8); /* Ajusta la opacidad aquí */
  z-index: -1;
}


/*Header and Footer layout*/
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
  animation: fadeInDown 0.6s ease-in-out;
  gap: 10px;
  color: var(--line-color);
}

header {
  height: 15vh;
}

footer {
  height: 10vh;
}

header h2 {
  font-size: 1.2rem;
  color: var(--text-main);
}

footer a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
  transition: all 0.3s ease;
  color: var(--line-color);
}

footer a:hover {
  transform: scale(1.05);
  filter: brightness(1.5);
}

/*Main container*/
main {
  min-height: 75vh;
  width: 75%;
  background-color: var(--bg-secondary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 30px var(--line-color);
  padding: 20px;
}

section {
  width: 100%;
}

/*Input Styles*/
main section select {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-family: var(--font-main);
  padding: 10px;
  border: solid 4px transparent;
  transition: all 0.3s ease;
  background-color: var(--bg-darker);
  color: var(--line-color);
}

main section select:hover {
  border: solid 4px var(--line-color);
  transform: scale(1.02);
  cursor: pointer;
}

main section select:focus {
  outline: none;
  border: solid 4px var(--line-color);
  transform: scale(1.02);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: right 10px center;
  text-align: center;
}

main section select::after {
  content: "▼";
}

/*UL - LI Metro stops*/
main section ul li {
  font-weight: bold;
  list-style-type: disc;
  font-size: 1.2rem;
  text-align: left;
  padding: 10px;
  color: var(--line-color);
}
main section ul li::marker {
  font-size: 2rem;
}
main section ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: flex-start;
}
.stopsSection {
  min-height: 60vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

@media (max-width: 450px) {
  main section select {
    width: 270px;
    height: 45px;
    font-size: 0.8rem;
  }
  header {
    font-size: 1.1rem;
  }
  header h2 {
    font-size: 1rem;
  }
  main {
    width: 90%;
  }
  footer {
    font-size: 1rem;
  }
  main section ul {
    display: block;
  }
  
}
